blockquote {
    max-width:500px;
    text-align: center; 
    margin:0 auto;
    width:auto;
    display:table;
}

html, body {
    cursor: url("swinub.cur"), default;
    /* https://www.cursors-4u.com/cursor/2009/02/27/swinub-pokemon.html */
}
